
    <%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
      
<ul>
    <% categories.forEach(category => { %>
        <li class="card">
            <strong><a href="/category/<%= category.category_id %>"><%= category.name%></a></strong>
        
        </li>
        <%
    }); %>
</ul>
    <a href="/new-category">Add a Category</a>
    </main>
    <%- include('partials/footer') %>