
    <%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
       <h2>Upcoming Service Projects</h2>
<ul>
    <% upcomingProjects.forEach(upcomingProject => { %>
        <li class="card">
           
            <strong><%= new Date(upcomingProject.project_date).toLocaleDateString('en-US', {
                month: 'long', 
                day: 'numeric', 
                year: 'numeric'
            }) %>:</strong>

            <span><a href="/project/<%= upcomingProject.project_id %>"><%= upcomingProject.title%></a><br><a href="/organization/<%= upcomingProject.organization_id %>"><em>(<%= upcomingProject.name %>)</em></a></span>
        
        </li>
        <%
    }); %>
</ul>
    </main>
    <%- include('partials/footer') %>
